{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Подключение стилей -->
  <link rel="stylesheet" href="{% static 'wheather/css/style.css' %}">

  <!-- Подключение шрифта Roboto Condensed -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
  
</head>
<body>
  <header class="wrap">
    <div class="wrapper header">
        <h4 class="logo">My Wheather App</h4>
        <nav class="nav">
          <a href="#" class="nav_item"><h4>Main Page</h4></a>
          <a href="#" class="nav_item"><h4>Contact</h4></a>
          <a href="#" class="nav_item"><h4>About Us</h4></a>
        </nav>
    </div>
  </header>

  <div class="wrapper content">

    <form action="" method="post" class="search_form">
      <input type="text" class="main_search" placeholder="Search Russian City...">
    </form>

    <h1 class="city_name">London</h1>
    

    <div class="tabs">
      <div class="tabs__nav">
        <button class="tabs__btn tabs__btn_active">Aug 02</button>
        <button class="tabs__btn">Aug 03</button>
        <button class="tabs__btn">Aug 04</button>
        <button class="tabs__btn">Aug 05</button>
        <button class="tabs__btn">Aug 06</button>
        <button class="tabs__btn">Aug 07</button>
        <button class="tabs__btn">Aug 08</button>
      </div>
      <div class="tabs__content">
        <div class="tabs__pane tabs__pane_show">
          {% include "wheather/info_template.html" %}
        </div>
        <div class="tabs__pane">
          {% include "wheather/info_template.html" %}
        </div>
        <div class="tabs__pane">
          {% include "wheather/info_template.html" %}
        </div>
        <div class="tabs__pane">
          {% include "wheather/info_template.html" %}
        </div>
        <div class="tabs__pane">
          {% include "wheather/info_template.html" %}
        </div>
        <div class="tabs__pane">
          {% include "wheather/info_template.html" %}
        </div>
        <div class="tabs__pane">
          {% include "wheather/info_template.html" %}
        </div>
      </div>
    </div>

  </div>
  <script src="{% static 'wheather/js/main.js' %}"></script>
</body>

</html>